a.navbar-brand {
    white-space: normal;
    text-align: right;
    word-break: break-all;
    display:flex
}

a.navbar-brand:hover{
    color: rgb(142, 157, 231);;
}

a.nav-link:hover{
    color: rgb(142, 157, 231);;
}

a.nav-link:visited{
    color: rgb(142, 157, 231);;
}


.navbar{
    height:100px;
    font-size: 20px;
}


.navbar-inner {
    height: 120px;
    position: sticky;
    top: 0;
}

.navbar-outer {
    display: flex;
    align-items: center;
    position: fixed;
    height: 190px;
    top: -70px;
}

.scroll_navbar .navbar {
    background-color: rgba(163, 183, 236, 0.281);
}

